:root{
    --border-radius: 5px
}

.quill {
    border-radius: var(--border-radius);
}

.ql-toolbar {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    
}

.ql-container {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

